.header-container {
  display: flex;
  margin: 0 12.5%;
  width: 80%;
  height: 70px;
  padding: 1.5rem;
}

.search-input {
  height: 15px;
  width: 66%;
  padding: 10px;
  -webkit-appearance: none;
  margin-top: 0.2rem;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 2px;
  border-color: #195b3f;
}

.search-input:focus {
  outline: none;
}

.header-logo {
  width: 30%;
  text-align: center;
}

.header-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-input img {
  position: absolute;
  right: 33%;
  filter: invert(26%) sepia(49%) saturate(596%) hue-rotate(103deg)
    brightness(93%) contrast(91%);
  cursor: pointer;
}

.header-contents {
  display: flex;
  width: 100%;
}
