.main-container,
.product-detail-container {
  margin: 0px 12.5%;
}

.product {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 100px;
}

.product-list {
  height: 220px;
  width: 1160px;
  padding: 20px;
  display: flex;
  border-top: 1px solid;
  border-color: rgb(173, 173, 173);
}

.product-list:hover {
  cursor: pointer;
  background: #f6f6f6;
  transition: 0.3s;
}

.product-list-img img {
  width: 210px;
  height: 210px;
  border: 1px solid;
  margin-top: 5px;
  border-color: rgb(150, 150, 150);
}

.product-list-ex {
  width: 96.5%;
  margin-left: 3.5%;
  margin-top: 5px;
}

.product-list-top {
  margin-top: 10px;
  height: 120px;
}

.product-list-title {
  width: 100%;
  display: flex;
}

.product-list-bottom {
  display: flex;
  height: 80px;
  margin-top: 10px;
}

.product-list-name {
  width: 95%;
  font-size: 1.5rem;
}

.product-list-color {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.product-list-vendor {
  font-size: 1.25rem;
  margin-top: 10px;
  margin-left: 1.5px;
  color: rgb(150, 150, 150);
}

.product-list-review {
  width: 50%;
  margin-top: 10px;
  margin-left: 1.5px;
  font-size: 1.25rem;
  color: #009a4f;
}

.product-list-price {
  font-size: 30px;
  width: 50%;
  text-align: right;
  margin-top: 5px;
  color: rgb(157, 189, 110);
}

.product-table {
  margin-top: 5rem;
  width: 100%;
}

.card-tbody {
  height: 180px;
}

.card-thumb {
  width: 30%;
}

.card-thumb img {
  width: 220px;
  height: 150px;
}

.product-detail-card {
  margin-top: 5rem;
  width: 100%;
  height: 600px;
}

.product-detail-card img {
  width: 100%;
  height: 500px;
}

.product-detail-thumb {
  float: left;
  width: 45%;
}

.product-detail-name,
.product-detail-vendor,
.product-detail-price,
.product-detail-delivery,
.product-detail-review,
.product-detail-btn {
  float: right;
  width: 55%;
}

.product-detail-name p {
  font-size: 2.5rem;
  margin: 0 0 0 100px;
}

.product-detail-vendor p {
  margin: 0 0 0 104px;
  font-size: 1.25rem;
  color: rgb(150, 150, 150);
}

.product-detail-review p {
  margin: 5px 0 0 104px;
  font-size: 1.25rem;
  color: rgb(0, 154, 79);
}

.product-detail-price p {
  font-size: 1.6rem;
  margin: 15px 0 0 104px;
  color: rgb(157, 189, 110);
}

.product-detail-delivery p {
  font-size: 1.25rem;
  margin: 150px 0 0 104px;
}

.product-detail-buybtn {
  margin: 40px 0 0 104px;
  width: 260px;
  height: 50px;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  background-color: #bdd2a8;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.product-detail-reviewbtn {
  margin: 0 0 0 50px;
  width: 260px;
  height: 50px;
  font-size: 1.25rem;
  color: #bdd2a8;
  background-color: #ffffff;
  border-style: solid;
  border-color: #bdd2a8;
  border-radius: 5px;
  cursor: pointer;
}
