/* flex */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.font-18 {
  font-size: 18px;
}

.font-15 {
  font-size: 15px;
}

.font-13 {
  font-size: 13px;
}

.color-green {
  color: #195b3f;
}

.content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
